@font-face {
  font-family: "Existence";
  src: url(../fonts/existence/existence-light.woff);
}

body {
  font-family: Existence, Serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.row {
  width: 100%;
}
.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 900px) {
  .col-1 {
    width: 8.33333%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .col-2 {
    width: 16.66667%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .col-3 {
    width: 25%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .col-4 {
    width: 33.33333%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .col-5 {
    width: 41.66667%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .col-6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .col-7 {
    width: 58.33333%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .col-8 {
    width: 66.66667%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .col-9 {
    width: 75%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .col-10 {
    width: 83.33333%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .col-11 {
    width: 91.66667%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .col-12 {
    width: 100%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }
}
@media only screen and (max-width: 899px) {
  .mcol-1 {
    width: 16.66667%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .mcol-2 {
    width: 33.33333%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .mcol-3 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .mcol-4 {
    width: 66.66667%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .mcol-5 {
    width: 83.33333%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .mcol-6 {
    width: 100%;
    float: left;
    box-sizing: border-box;
    border: 1px solid red;
  }
}
.container {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}

.marginSetter {
  padding: 5% 0;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

header {
  background: grey;
  background-image: url("../img/header_bg.jpg");
  background-size: auto 100%;
  background-position: center;
}
header h1, header h2, header p, header li {
  text-align: center;
  color: white;
}
header a {
  display: block;
  width: 100%;
  height: 100%;
}
header h1 {
  max-width: 400px;
  max-height: 100px;
  margin: 0 auto;
}
header h1 img {
  max-width: 100%;
  height: auto;
}
header li {
  padding: 6% 0;
  background-image: url("../img/hexagon.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}
header li img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  max-height: 95px;
}
header li:hover {
  background-image: url("../img/hexagon_purple.png");
}
@media only screen and (min-width: 900px) {
  header .loweredLi {
    margin-top: 20%;
  }
}
@media only screen and (max-width: 899px) {
  header li {
    background-size: 70% auto;
  }
}
header .slideDownButton {
  max-width: 100px;
  padding: 5% 0;
  background-image: url("../img/hexagon_small.png");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
}
header .slideDownButton img {
  max-width: 100%;
  height: auto;
}
header .slideDownButton:hover img {
  animation-name: blinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#menu {
  background: white;
  color: darkgray;
  font-weight: 700;
  z-index: 5;
}
#menu h1 {
  font-size: 1em;
  line-height: 1em;
}
#menu .logoMenu {
  text-align: center;
}
#menu .logoMenu img {
  max-width: 100px;
  height: auto;
}
@media only screen and (max-width: 899px) {
  #menu .innerMenu {
    transform: rotate(180deg);
  }
}
#menu .innerMenu li {
  float: right;
  text-align: center;
  font-size: 0.7em;
  line-height: 3em;
  text-transform: uppercase;
  margin: 1em 5px;
}
@media only screen and (max-width: 899px) {
  #menu .innerMenu li {
    float: none;
    transform: rotate(-180deg);
    display: none;
    text-align: right;
  }
}
#menu .innerMenu li span {
  color: purple;
}
@media only screen and (max-width: 899px) {
  #menu .innerMenu #hamburger {
    display: block;
    cursor: pointer;
  }
}
@media only screen and (min-width: 900px) {
  #menu .innerMenu #hamburger {
    display: none;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  opacity: 1;
}

.underMenu {
  background: #e3e3e3;
}

.features li {
  text-align: center;
}
.features li div {
  background-image: url("../img/hexagon_grey.png");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding: 20% 0;
}
.features li p {
  padding: 5px;
}

#about .screensPic img {
  max-width: 100%;
  height: auto;
}
#about .besidePic {
  padding: 5px;
}
#about .besidePic p {
  padding: 5px;
  line-height: 2em;
}
#about .besidePic .learnMoreButton {
  max-width: 150px;
  margin-left: 2%;
  padding: 5%;
  display: block;
  font-weight: 800;
  text-align: center;
  color: white;
  background: purple;
  box-shadow: 0 5px #600060;
  border-radius: 5%;
}

.intersection {
  background-image: url("../img/middle_bg.jpg");
  background-position: center;
  background-size: 100% auto;
  background-attachment: fixed;
  text-align: center;
}
.intersection .intersectionImage {
  background-image: url("../img/hexagon.png");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding: 5%;
}

.textOn2ndBackground {
  text-align: center;
  color: white;
  font-size: 3em;
}

#team .teamButtons #teamButtonLeftLi,
#team .teamButtons #teamButtonRightLi {
  width: 50%;
  min-height: 46px;
  background-position: left;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url("../img/hexagon_slider_button.png");
}
#team .teamButtons #teamButtonLeftLi #teamButtonLeft,
#team .teamButtons #teamButtonLeftLi #teamButtonRight,
#team .teamButtons #teamButtonRightLi #teamButtonLeft,
#team .teamButtons #teamButtonRightLi #teamButtonRight {
  max-width: 40px;
  cursor: pointer;
}
#team .teamButtons #teamButtonLeftLi img,
#team .teamButtons #teamButtonRightLi img {
  margin: 10px 15px 0 15px;
}
#team .teamButtons #teamButtonLeftLi {
  background-position: right;
  text-align: right;
}
#team .teamButtons #teamButtonLeftLi #teamButtonLeft {
  float: right;
  margin-right: 5px;
}
#team .teamButtons #teamButtonRightLi {
  text-align: left;
}
#team .teamButtons #teamButtonRightLi img {
  transform: rotate(180deg);
}
#team .membersList {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
#team .membersList .member {
  position: relative;
  display: inline-block;
  float: none;
}
@media only screen and (min-width: 900px) {
  #team .membersList .member {
    right: 33.33%;
  }
}
@media only screen and (max-width: 899px) {
  #team .membersList .member {
    right: 100%;
  }
}
#team .membersList .member div {
  background: grey;
  margin: 15% 25%;
  width: 50%;
  height: 150px;
  border-radius: 50%;
}
#team .membersList .member .memberName {
  text-transform: uppercase;
  font-weight: 700;
}

#skills {
  padding-bottom: 5%;
}
#skills .skillsList {
  margin: 3% 0;
}
#skills .skillsList .skill {
  padding: 3%;
}
#skills .skillsList .skill h2 {
  text-transform: uppercase;
}
#skills .skillsList .skill span {
  float: right;
}
#skills .skillsList .skill .skillMeter {
  height: 10px;
  background: lightgrey;
}
#skills .skillsList .skill .skillMeter div {
  width: 0;
  height: 100%;
  background: purple;
}

.headers {
  font-size: 2em;
  text-align: center;
  position: relative;
  z-index: 1;
}
.headers .headersText span {
  color: purple;
}
.headers .headersText:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  margin-left: -40px;
  margin-top: 40px;
  border-bottom: 2px solid purple;
  border-left: 2px solid purple;
}
.headers .headersText:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  margin-left: 20px;
  margin-top: -20px;
  border-top: 2px solid purple;
  border-right: 2px solid purple;
}

.portfolioButtons {
  padding: 0 32%;
}
.portfolioButtons li {
  padding: 2%;
  margin: 5% 2%;
  float: left;
  width: 40px;
  height: 20px;
  text-align: center;
  border: 1px solid purple;
}
.portfolioButtons li:hover {
  background: purple;
  color: white;
  cursor: pointer;
}
