#contact {
  p {
    margin: 2em 0;
    font-family: Arial, Serif;
  }
}

#nameInput,
#emailInput,
#messageInput {
  font-size: 12pt;
  padding: 0.5em;
  margin: 0 1em;
  width: 90%;
  font-family: Arial, Serif;
}

#messageInput {
  min-height: 10em;
}

#submitInput{
  margin: 0 1em;
  padding: 1.4em 3.5em;
  box-shadow: 0 5px #600060;
  border-radius: 5%;
  background: purple;
  color: white;
  border: 0
}

.contactText {
  padding: 0 5%;
}

.address,
.contactPhone{
  font-weight: 700;
}



