.portfolioButtons{
  @media only screen and (min-width: 900px) {
    padding: 0 39%;
  }
  @media only screen and (min-width: 700px) and (max-width: 899px){
    padding: 0 32%;
  }
  @media only screen and (min-width: 500px) and (max-width: 699px) {
    padding: 0 20%;
  }
  @media only screen and (max-width: 499px){
    padding: 0 10%;
  }

  li {
    margin: 1% 2%;
    max-width: 21%;
    padding: 3% 0;
    text-align: center;
    border: 1px solid purple;

    &:hover {
      background: purple;
      color: white;
      cursor: pointer;
    }
  }
}

#moreButton{
  max-width: 100px;
  margin: 0 auto;
  padding: 1.4em 3.5em;
  font-weight: 800;
  text-align: center;
  color: white;
  background: purple;
  box-shadow: 0 5px #600060;
  border-radius: 5%;

}
