$numberOfCitations: 6;

@keyframes slider {
  @for $i from 0 to $numberOfCitations {
    #{100% / $numberOfCitations * $i} {
      right: ($i * 100%);
    }
    #{(100% / $numberOfCitations * ($i + 1)) - 5%}{
      right: ($i * 100%);
    }
  }
  100%{
    right: 0;
  }
}


#services{
  .servicesStats{
    text-align: center;

    .statsValue{
      font-size: 4em;
      font-weight: 700;
      margin: 0;
    }

    .statsDescription{
      font-size: 1em;
    }
  }
}

#citationsSlider{
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;

  li {
    white-space: normal;
    float: none;
    display: inline-block;
    position: relative;
    animation-name: slider;
    animation-duration: 24s;
    animation-iteration-count: infinite;

    .citationAuthorPic {
      margin: 0 auto;
      background: grey;
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    .citation {
      text-align: center;
      padding: 5px;
      span {
        margin: 0 auto;
        display: block;
        max-width: 600px;
      }
    }

    .citationAuthor {
      text-transform: uppercase;
    }
  }
}

@for $i from 0 to $numberOfCitations {
  @keyframes circlesAni-#{$i} {
    #{100% /$numberOfCitations * $i}{
      background: white;
    }
    #{(100% / $numberOfCitations * $i) + 1%}{
      background: purple;
    }
    #{(100% / $numberOfCitations * ($i + 1)) - 5%}{
      background: purple;
    }
    #{(100% / $numberOfCitations * ($i + 1)) - 4%}{
      background: white;
    }
  }

  #circle-#{$i}:after,
  #circle-#{$i}:before{
    animation-name: circlesAni-#{$i};
    animation-duration: 24s;
    animation-iteration-count: infinite;
  }
}

.circles{
  text-align: center;
  li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: purple;
    position: relative;

    &:before,
    &:after{
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      margin-top: 2px;
      margin-left: -3px;
      border-radius: 50%;
      background: white;
    }
  }
}