$numberOfCitations: 6;

@keyframes slider {
  @for $i from 0 to $numberOfCitations {
    #{100% / $numberOfCitations * $i} {
      right: ($i * 100%);
    }
    #{(100% / $numberOfCitations * ($i + 1)) - 5%}{
      right: ($i * 100%);
    }
  }
  100%{
    right: 0;
  }
}


#services{
  background: #e3e3e3;

  .servicesStats{
    text-align: center;

    .statsValue{
      font-size: 4em;
      font-weight: 700;
      margin: 0;
    }

    .statsDescription{
      font-size: 1em;
    }
  }
}

#citationsSlider{
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;

  .sliderAni{
    animation-name: slider;
    animation-duration: 24000ms;
    animation-iteration-count: infinite;
  }

  li {
    white-space: normal;
    float: none;
    display: inline-block;
    position: relative;

    .citationAuthorPic {
      margin: 0 auto;
      background: grey;
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    .citation {
      text-align: center;
      padding: 5px;
      span {
        margin: 0 auto;
        display: block;
        max-width: 600px;
      }
    }

    .citationAuthor {
      text-transform: uppercase;
    }
  }
}

@for $i from 0 to $numberOfCitations {
  @keyframes circlesAni-#{$i} {
    #{100% /$numberOfCitations * $i} {
      background: #e3e3e3;
    }
    #{(100% / $numberOfCitations * $i) + 1%} {
      background: purple;
    }
    #{(100% / $numberOfCitations * ($i + 1)) - 5%} {
      background: purple;
    }
    #{(100% / $numberOfCitations * ($i + 1)) - 4%} {
      background: #e3e3e3;
    }
  }
  .circlesAnimation {
    #circle-#{$i}:after,
    #circle-#{$i}:before {
      animation-name: circlesAni-#{$i};
      animation-duration: 24s;
      animation-iteration-count: infinite;
    }
  }
}

.circlesDiv {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;

  .circles {
    width: 100%;

    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      background: purple;
      position: relative;
      cursor: pointer;
    }
  }
}

.pseudo{
  &:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 50%;
    background: #e3e3e3;
  }
}