.underMenu{
  background: #e3e3e3;
}

.features{
  li{
    text-align: center;
    div {
      background-image: url("../img/hexagon_grey.png");
      background-position: center;
      background-size: auto 100%;
      background-repeat: no-repeat;
      padding: 20% 0;
    }

    p{
      padding: 5px;
    }
  }
}